.message_container{
    position: fixed;
    right: 50px;
    width: 620px;
    height: 500px;
    bottom: 0;
    z-index: 999;
    box-shadow: -4px -0.3em 3.15em -1.075em var(--background_rate_hover);
    display: flex;
    border-top-left-radius:17px ;
    border-top-right-radius:17px ;
    .direct_chat{
        width: 300px;
        // background:#ffffff;
        background:var(--background_component);
        height: 100%;
        border-top-left-radius:17px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        border-right: 1px solid var(--background_rate_hover);
        .text_direct{
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            text-align: center;
            color: #999;
            display: block;
            padding: 12px 7px;
        }
        .contain_chat_recent{
            max-height: 400px;
            overflow: auto;
            .chaters{
                padding: 15px 15px 12px;
                display: flex;
                gap: 6px;
                background-color: var((--background_component));
                img{
                    width: 26px;
                    border-radius: 100px;
                    height: 26px;
                    object-fit: cover;
                }
                >span{
                    font-size: 12px;
                    font-weight: 700;
                    color: var(--text_color);
                }
                &:hover{
                    background:var(--background_rate_hover);
                    cursor: pointer;

                }
                &.active{
                    background-color: #d0d4d7;
                    >span{
                        color:#000
                    }
                }
            }
        }
        .createChat_btn{
            padding: 12px 12px;
            padding: 9px 23px;
            background: #99999921;
            display: flex;
            align-items: center;
            gap: 7px;
            font-size: 14px;
            border-radius: 100px;
            justify-content: center;
            margin: auto auto 8px auto;
            min-width: 168px;
            font-weight: 700;
            &:hover{
                cursor: pointer;
                background-color: var(--background_rate_hover);
            }
            svg{
                font-size: 19px;
            }
        }
}
    .chat{
        background: var(--bg_chat);
        width: 100%;
        border-top-right-radius:17px;
        padding: 7px 10px;
        display: flex;
        flex-direction: column;
        .chat_header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .container_userInfoChat{
                font-size: 16px;
                font-weight: 500;
                color: var(--text_color);
                span{
                    width: 11px;
                    height: 12px;
                    background: red;
                    display: inline-block;
                    border-radius: 100px;
                    &.online{
                        background: #46d160
                    }
                    &.offline{
                        background: #e01e1e

                    }
                }
            }
            .header_nav{
                font-size: 25px;
                color: #878A8C;
                display: flex;
                align-items: center;
                gap: 12px;
                svg{
                    transition: ease 0.3s;
                    &:hover{
                        background-color: #99999940;
                        padding: 5px 2px;
                        cursor: pointer;

                    }
                }
            }
        }
        .chat_container{
            display: flex;
            flex-direction: column;
            height: 100%;

            .search_label{
                font-size: 10px;
                font-weight: 600;
                letter-spacing: .5px;
                line-height: 12px;
                text-transform: uppercase;
                margin: 9px 0 6px;
                color: #7c7c7c;
            }
            .md_search_input{
                background: #fff;
                overflow: hidden;
                .contain_search_input{
                    padding: 16px 12px 4px;
                    background-color: var(--background_component);
                    .icon_search_input{
                        background: #fff;
                        border:none;
                        font-size: 19px;
                        background-color: #F6F7F8;
                    }
                    .search_chat_input{
                        border: none;
                        background-color: #F6F7F8;
                        &:focus{
                            box-shadow: none;
                            border: none;
                            outline: none;
                        }
                    }
                }
                .user_found_container{
                    background-color: var(--background_component);
                    .not_exist{
                        font-size: 12px;
                        font-weight: 400;
                        color: #fb133a;
                        margin-left: 12px;
                    }
                    .user_found{
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        border-bottom: 1px solid #cccccc3d;
                        padding: 7px 15px;
                        &:hover{
                            background-color: var(--hover_background);
                            cursor: pointer;

                        }
                        img{
                            width: 24px;
                            height: 24px;
                            border-radius: 100px;
                        }
                        span{
                            font-size: 12px;
                        }
                        input{
                            margin-left: auto;
                        }
                    }
                }
               
            }
            .contain_startChat{
                display: flex;
                gap: 7px;
                display: flex;
                gap: 7px;
                margin-top: auto;
                margin-left: auto;
              
                span{
                    button{
                        background-color:var(--btn_join);
                        color: var(--text_btn_color);
                        &.css-1skeclo-MuiButtonBase-root-MuiButton-root.Mui-disabled {
                            background-color:var(--icon_color);
                            color: var(--text_btn_color);
                        }
                    }
                }
                .cl{
                    button{
                        background-color:var(--bg_chat);
                        color: var(--text_color);
                    }
                }
            }
            &.started{
                .boxchat{
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    margin-bottom: 10px;
                    background: var(--bg_chat);
                    height: 100%;

                    .contain_messages{
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        margin-top: 12px;
                        margin-bottom: 10px;
                        max-height: 365px;
                        overflow: auto;
                        .owner{
                            display: inline-flex;
                            align-items: self-end;
                            gap: 6px;
                            margin-left: auto;
                            margin-right: 8px;
                            .msg{
                                min-width: 40px;
                                padding: 6px 10px;
                                background: var(--background_component);
                                border-radius: 100px;
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                border: 1px solid #cccccc54;
                            }
                            .avt{
                                img{
                                    width: 22px;
                                    border-radius: 100px;
                                    height: 22px;
                                    object-fit: cover;
                                }
                            }
                        }
                        .friend{
                            display: inline-flex;
                            align-items: self-end;
                            gap: 6px;
                            margin-right: auto;
                            margin-left: 8px;
                            .msg{
                                min-width: 40px;
                                padding: 4px 12px;
                                background: #1976d254;
                                border-radius: 100px;
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                border: 1px solid #cccccc85;
                            }
                            .avt{
                                img{
                                    width: 24px;
                                    height: 24px;
                                    border-radius: 100px;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
                .inputChat{
                    height: 46px;
                    background-color: var(--bg_chat);
                    margin-top: auto;
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    input{
                        background-color: var(--background_component);
                        color: var(--text_color);
                        flex: 1 1;
                        border: none;
                        outline: none;
                        padding: 8px 10px;
                        border-radius: 100px;
                        border:1px solid #ccc
                    }
                    span{
                        font-size: 23px;
                        transform: translateY(-3px);
                        svg{
                            color:#878A8C
                        }
                        
                    }
                    .camera{
                        &:hover{
                            svg{
                                fill:#c3bdbd;;
                            }
                        }
                    }
                    .send{
                        &.active{
                            svg{
                                color:#0079D3;
                                border:none
                            }
                        }
                    }
                }
            }
          
        }
    }
}

.message_container_close{
    position: fixed;
    right: 60px;
    width: 120px;
    height: 40px;
    bottom: 0;
    z-index: 999;
    display: flex;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    background: var(--background_component);
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-left: 14px;
    gap: 28px;
    svg{
        display: none
    }
    &:hover{
        cursor: pointer;
        svg{
            display: block
        }
    }
}