.content-container{
    .create_post{
        align-items: center;
        background-color: var(--background_component);
        border: 1px solid #ccc;
        border-radius: 4px;
        display: flex;
        margin-bottom: 16px;
        padding: 4px 12px;
        color: var(--icon_color);
        min-height: 55px;
        gap: 15px;
        .logo_post{
            position: relative;
            cursor: pointer;
            img{
                width:40px;
                height: 40px;
                border-radius: 200px;
            }
            span{
                width: 14px;
                height: 14px;
                background: #46d160;
                position: absolute;
                bottom: 0;
                right: 0px;
                border-radius: 100px;
                border: 1px solid #fff;
            }
        }
        .input_post{
            flex:1;
            display: flex;
            flex-direction: column;
            align-items: end;
            position: relative;
            &:hover{
                input{
                    border-color: #1976d2;
                }
            }
            input{
                width: 100%;
                padding: 5px 106px 5px 13px;
                background: #ecedee;
                border: none;
                border-radius: 100px;
                outline: none;
                color: #000;
                border: 1px solid transparent;

            }
            .nameAttch{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 14px;
                color: black;
                cursor: pointer;
                font-weight: 600;
                max-width: 85px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-size: 13px;
                display: flex;
                align-items: center;
                justify-content: start;
                background: #ccc;
                padding: 0 3px;
            }
        }
        .options_post{
            min-width: 40px;
            font-size: 26px;
            display: flex;
            align-items: center;
            gap: 10px;
            span{
                display: flex;
                align-items: center;
                padding: 4px;
                &:hover{
                    cursor: pointer;
                    background-color: #ccc;
                }
                button{
                    background-color:var(--btn_join);
                    color: var(--text_btn_color);
                    &.css-1skeclo-MuiButtonBase-root-MuiButton-root.Mui-disabled {
                        background-color:var(--icon_color);
                        color: var(--text_btn_color);
                    }
                }
            }
        }
    }
    .title{
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        color: var(--text_color);
        text-transform: unset;
    }
    .header-content{
        padding: 16px 24px 0;
        margin: 0 auto;
        max-width: 1020px;
       
        .trending{
            .trending_slider{
                .react-multiple-carousel__arrow{
                    z-index: 3;
                    display: none;
                }
                .react-multi-carousel-dot--active{
                    button{
                        background-color: #1976d2
                    }
                }
            }
            .item{
                padding-left: 5px;
                padding-right: 5px;
                position: relative;
                color: #fff;
                overflow: hidden;
                .item_img{
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                    height:178px;
                    width: 100%;
                    object-fit: cover;
                    filter: brightness(0.45);
                }
                .trend-info{
                    padding: 12px;
                    position: absolute;
                    bottom:-3px;
                    >h5{
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 22px;
                        margin-bottom: 2px;
                    }
                    >p{
                        font-family: Noto Sans,Arial,sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        line-height: 20px;
                        max-height: 40px;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        margin-bottom: 0;
                        display: -webkit-inline-box;
                    }
                    .owner{
                        .owner_img{
                            border-radius: 9001px;
                            font-size: 16px;
                            height: 16px;
                            line-height: 16px;
                            margin-right: 4px;
                            width: 16px;
                        }
                        .detail{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .body-content{
        max-width: 100%;
        padding: 20px 24px;
        .posts{
            display: flex;
            justify-content: center;
            gap: 20px;
            .main-posts{
                width: 640px;
                .title{
                    padding-bottom: 10px;
                }
                .filter_posts{
                    align-items: center;
                    background-color: var(--background_component);
                    border: 1px solid var(--background_rate_hover);
                    border-radius: 4px;
                    box-sizing: border-box;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-flow: row nowrap;
                    flex-flow: row nowrap;
                    -ms-flex-pack: start;
                    justify-content: flex-start;
                    margin-bottom: 16px;
                    padding: 10px 12px;
                    color: #9b9b9b;
                    font-weight: 700;
                    .dropdown{
                        &:hover{
                            background-color: #e3e3e3;
                            cursor: pointer;
                            border-radius: 100px;

                            button{
                                background-color: #e3e3e3;
                                border-radius: 100px;
                            }
                           
                        }
                        .dropdown-toggle{
                            display: flex;
                            align-items: center;
                            &:after{
                                display: none !important; 

                            }
                        }
                        
                        .dropdown-menu{
                            max-height: 180px;
                            overflow-y: auto;
                            .dropdown-item{
                            color: #9b9b9b ;
                            font-weight: 500;
                                &.active{
                                    background-color: #fff;
                                    color:#1e88e5 ;
                                    font-weight: 600;
                                }
                                svg{
                                    font-size: 19px;
                                }
                            }
                        }
                        button{
                            background-color: #fff;
                            color: #9b9b9b;
                            font-weight: 700;
                            outline: none;
                            border: none;
                        }
                    }
                    .filter_items{
                        display: flex;
                        align-items: center;
                        
                        span{
                            display: flex;
                            align-items: center;
                            gap: 4px;
                            text-transform: capitalize;
                            margin-right: 8px;
                            position: relative;
                            border: 1px solid transparent;
                            padding: 6px 8px;
                            border-radius: 20px;
                            &:hover{
                                background-color: rgba(204, 204, 204, 0.3411764706);
                                cursor: pointer;
                            }
                            &.active{
                                background-color: rgba(204, 204, 204, 0.3411764706);
                                cursor: pointer;
                                color:var(--filter_active)
                            }
                        }
                    }
                    .options{
                        margin-left: 10px;
                        padding: 2px 10px;
                        &:hover{
                            background-color: #cccccc57;
                            cursor: pointer;
                            border-radius: 200px;

                        }
                    }
                    .layout_option{
                        margin-left: auto;
                    }
                }
                // .contain-posts{
                //     --post-line-color: #ccc;
                //     border: 1px solid #ccc;
                //     margin-bottom: 10px;
                //     border-radius: 4px;
                //     padding-left: 40px;
                //     background-color: #fff;
                //     max-height: 500px;
                //     max-height: 750px;
                //     .post_item{
                //         position: relative;
                //         margin-top: 5px;
                //         margin-right: 5px;
                //         padding-left: 3px;
                //         .rate{
                //             width: 40px;
                //             display: inline-flex;
                //             flex-direction: column;
                //             align-items: center;
                //             font-size: 28px;
                //             font-weight: 400;
                //             position: absolute;
                //             top: 0;
                //             left: -40px;
                //             .like{
                //                 &:hover{
                //                     background-color: #ccc
                //                 }
                //                 &.active{
                //                     color: #FF4500;
                //                     &:hover{
                //                         background-color: unset
                //                     }
                //                 }
                //             }
                //             .dislike{
                //                 &:hover{
                //                     background-color: #ccc
                //                 }
                //                 &.active{
                //                     color: #7193ff;
                //                     &:hover{
                //                         background-color: unset
                //                     }
                //                 }
                //             }
                //             span{
                //                 display: flex;
                //                 color:#878A8C
                //             }
                //             .num_Evaluate{
                //                 font-size: 13px;
                //                 font-weight: 700;
                //                 color: #000;
                //             }
                //         }
                //         .content_post{
                //             display: flex;
                //             flex-direction: column;
                //             gap: 9px;

                //             .header_post{
                //                 display: flex;
                //                 align-items: center;
                //                 .g1{
                //                     img{
                //                         height:20px;
                //                         border-radius: 100px;
                //                     }
                //                 }
                //                 .g2{
                //                     display: flex;
                //                     font-size: 12px;
                //                     color: #7c7c7c;
                //                     span{
                //                         margin: 0 2px;
                //                     }
                //                     .name{
                //                         font-weight: 700;
                //                         line-height: 16px;
                //                         color: #000;
                //                         display: inline;
                //                         line-height: 20px;
                //                         text-decoration: none;
                //                         vertical-align: baseline;
                //                     }
                //                     .dot{
                //                         font-size: 6px;
                //                         line-height: 20px;
                //                         margin-left: 4px;
                //                         margin-right: 4px;
                //                     }
                //                     .info{
                //                     }
                //                 }
                //                 >button{
                //                     min-width: 24px;
                //                     max-width: 24px;
                //                     font-size: 12px;
                //                     text-transform: unset;
                //                     padding: 4px 30px;
                //                     margin-left: auto;
                //                 }
                //             }
                //            .body_post{
                //                 .post_detail{
                //                     display: flex;
                //                     flex-direction: column;
                //                     gap: 12px;
                //                     height: 100%;
                //                     h3{
                //                         font-size: 18px;
                //                         font-weight: 500;
                //                         line-height: 22px;
                //                         margin: 0;
                //                     }
                //                     img{
                //                         max-height: 512px;
                //                         margin: 0 auto;
                //                         max-width: 100%;
                //                         display: block;
                //                     }
                //                     video{
                //                         max-height: 512px;
                //                         margin: 0 auto;
                //                         max-width: 100%;
                //                         display: block;
 
                //                     }
                //                 }
                               
                //            }
                //            .footer_post{
                //                 font-size: 12px;
                //                 font-weight: 700;
                //                 line-height: 16px;
                //                 padding: 4px;
                //                 color: #898989;
                //                 display: flex;
                //                 gap: 20px;
                //                 .item{
                //                     display: flex;
                //                     align-items: center;
                //                     gap:5px;
                //                     svg{
                //                         font-size: 24px;
                //                     }
                //                 }
                //            }
                //         }
                //     }
                // }
            }
            .sub-posts{
                margin-top: 36px;
                width: 320px;
                .accor_container{
                    background-color: var(--background_component);
                    .accor_summary{
                        flex-direction: row;
                        .accor_title{
                            color: var(--text_color);
                            font-size: 10px;
                            font-weight: 700;
                            letter-spacing: .5px;
                            line-height: 12px;
                            text-transform: uppercase;
                        }
                        .css-yw020d-MuiAccordionSummary-expandIconWrapper{
                            color: var(--text_color);
                        }
                    }
                    .accor_detail{
                        padding: 4px 24px 10px;
                        border-top: unset;
                        display: flex;
                        flex-wrap: wrap;
                        p{
                            display: inline-block;
                            .detail_item{
                                cursor: pointer;
                                font-size: 12px;
                                font-weight: 500;
                                line-height: 16px;
                                display: inline-block;
                                text-decoration: none;
                                margin-bottom: 8px;
                                color: var(--text_color);
                                margin-right: 24px;
                                &:hover{
                                    cursor: pointer;
                                    text-decoration: underline;
                                }
                            }
                        }
                        span{
                            margin-bottom: 4px;
                            padding: 0px 12px;
                            border-radius: 33px;
                            color:var(--filter_active);
                            font-weight: 700;
                            font-size: 15px;
                            &:hover{
                                cursor: pointer;
                                background: var(--background_rate_hover);
                            }
                        }
                     
                    }
                   
                }
            }
        }
        
    }
}

