
:root{
    --background_tool:#cccccc40;
}
.content{
    .quill {
        margin: 9px 44px;
        .ql-toolbar{
            background-color: #eaecec
        }
        .ql-container{
            min-height: 100px;
        }
    }
    .contain_DetailPost{
        display: flex;
        justify-content: center;
        gap: 20px;
        padding-top: 20px;
        .main_detail{
            width: 850px;
            background: #a4aab0;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .subPost{
            background-color: #fff;
            
            .containEditor{
                padding-top: 30px;
                display: flex;
                flex-direction: column-reverse;
                &.focus{
                    border: 1px solid red;
                }
                
                .btnComment{
                    width: fit-content;
                    margin-left: auto;
                    margin-right: 40px;
                }
            }
            .comments-container{
                .contain_fcmt{
                    position: relative;
                    margin-top: 10px;
                    margin-bottom: 28px;

                    .moreCmts{
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 16px;
                        border-radius: 4px;
                        border: 1px solid transparent;
                        color: #ffd635;
                        cursor: pointer;
                        height: 24px;
                        margin-left:40px;
                        padding-left: 4px;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    &:last-child{
                        margin-bottom: 40px;
                    }
                    .lv2{
                        margin-left: 40px;
                        &:last-of-type{
                            margin-bottom: 10px ;
                        }
                        .lv3{
                            margin-left: 40px;
                            &:last-of-type{
                                margin-bottom: 10px;
                        }
                        }
                    }
                    .line_level{
                        width: 1px;
                        background: #aea1a12e;
                        position: absolute;
                        top: calc(38px + 8px) ;
                        left: 19px;
                        height: -webkit-fill-available;
                    }
                    .f_cmt{
                        display: flex;
                        gap: 7px;
                        .f_cmter{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            img{
                                height:38px;
                                border-radius: 100px;
                            }
                           
                        }
                        .f-cmt_content{
                            display: flex;
                            flex-direction: column;
                            gap: 7px;
                            .info{
                                .header_post{
                                    display: flex;
                                    align-items: center;
                                    .g2{
                                        display: flex;
                                        font-size: 12px;
                                        color: #7c7c7c;
                                        span{
                                            margin: 0 2px;
                                        }
                                        .name{
                                            font-weight: 700;
                                            line-height: 16px;
                                            color: #000;
                                            display: inline;
                                            line-height: 20px;
                                            text-decoration: none;
                                            vertical-align: baseline;
                                        }
                                        .dot{
                                            font-size: 6px;
                                            line-height: 20px;
                                            margin-left: 4px;
                                            margin-right: 4px;
                                        }
                                    }
                                  
                                }
                            }
                            .actions{
                                display: flex;
                                align-items: center;
                                gap:20px;
                                .rate{
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    gap: 7px;
                                    .like{
                                        &:hover{
                                            background-color: #ccc
                                        }
                                        &.active{
                                            color: #FF4500;
                                            &:hover{
                                                background-color: unset
                                            }
                                        }
                                    }
                                    .dislike{
                                        &:hover{
                                            background-color: #ccc
                                        }
                                        &.active{
                                            color: #7193ff;
                                            &:hover{
                                                background-color: unset
                                            }
                                        }
                                    }
                                }
                                span{
                                    display: flex;
                                    align-items: center;
                                    gap: 5px;
                                }
                            }
                        }
                    }


                }
                .quill{
                    border: 1px solid #383232;
                    border-top-right-radius: 15px;
                    border-top-left-radius: 15px;
                    .ql-toolbar{
                        border-top-right-radius: 15px;
                        border-top-left-radius: 15px;
                    }
                }
                
               
            }
            }
        }
        .side{
            width: 320px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            .side1{
                height: 250px;
                background: #fff;
            }
            .side2{
                height: 250px;
                background: #fff;
            }
        }
        
        
    }
}
