body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text_color);
}
*{
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  .loadwait{
    height: 30px;
    width: 30px;
    margin: 0 auto;
  }
  .header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--background_component);
    z-index: 100;
  }
  .content{
    display: flex;
    margin-top: 49px;
    .sidebar{
      height:  calc(100vh - 49px)!important;
      position: fixed;
      top: 49px;
      left: 0;
      .pro-sidebar {
        .pro-menu{
          padding: 0;
        }
        .pro-sidebar-inner {
          background-color: var(--background_component);
          color: #878A8C;
          .pro-sidebar-content{
            flex-grow: unset;
            max-height: 500px;
            overflow-y:auto;
          }
          .menuSidebar{
            .title{
              display: block;
              padding: 16px 24px 8px;
              font-size: 10px;
              font-weight: 500;
              line-height: 16px;
              text-transform: uppercase;
            }
            .pro-menu-item.pro-sub-menu{
              .pro-inner-list-item{
                background-color:var(--background_component) !important;
                padding-left: 36px;
                .pro-menu-item{
                  max-width: 80%;
                }
                .popper-inner{
                  background-color: #fff
                }
              }
            }
            .pro-inner-item{
              padding: 8px 24px;
              color:var(--text_sidebar_color);
              &:hover{
                cursor: pointer;
                background-color: var(--hover_background);
                color: var(--hover_text);
              }
             
              .pro-icon-wrapper{
                height: 20px;
                max-height: 20px;
                max-width: 20px;
                width: 20px;
                font-size: 20px;
                font-weight: 400;
                line-height: 20px;
                margin-right: 0;
              }
              .pro-item-content{
                font-size: 15px;
                line-height: 18px;
                margin-left: 8px;
                max-width: 208px;
                text-align: left;
                margin-left: 0;
              }
            }
          }
          .pro-sidebar-footer{
            flex:1;
            padding: 20px 24px 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-top:0;
            flex-direction: column;
            justify-content: space-evenly;
            .sidebar-btn-wrapper{
              border: 1px solid rgba(0,0,0,0.2);
              background-color: var(--btn_join);
              border-radius: 100px;
              padding: 7px 42px;
              &:hover{
                opacity: 0.9;
                cursor: pointer;
              }
              a{
                text-decoration: none;
                color:var(--text_btn_color);
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 9px;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
    .main-content{
      width: 100vw;
      background-color: var(--content_background);
      margin-left: 270px;
      
    }
  }
  .backtotop{
    position: fixed;
    left: 82%;
    bottom: 40px;
    height: 20px;
    font-size: 37px;
    z-index: 4;
    cursor: pointer;
    background: transparent;
    color: var(--btn_join);
    border: none;
    svg{
      background-color:var(--text_btn_color);
      border-radius: 1000px;
    }
  }
}
.modalLoading{
    display: flex !important;
    z-index: 9999999;
    background: rgba(0,0,0,0.3);
    align-items: center;
    .modal-content{
      background:unset
    }
}
.App.dark{
  background-color: red !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

